body {
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #fff;
}
.navbar .navbar-brand {
  height: 40px;
}

header {
  background-color: #f0f8ff;
}

.card {
  border: none;
}
.card .btn {
  background-color: #4CAF50;
}
.card .btn:hover {
  background-color: rgb(60.5577689243, 139.4422310757, 63.7450199203);
}
